@define-color foreground	#adbac7; 
@define-color background	#22272e; 
@define-color orange	#e3b341; 
@define-color gray	#636e7b; 
@define-color black #22272e;
@define-color red	#f47067; 
@define-color green	#57ab5a;
@define-color yellow	#c69026;
@define-color cyan	#39c5cf; 
@define-color blue	#539bf5; 
@define-color purple	#b083f0; 
@define-color pink	#da77f8; 
@define-color white #adbac7; 
@define-color brred #f47067;
@define-color brgreen #57ab5a;
@define-color bryellow #c69026;
@define-color brcyan #39c5cf;
@define-color brblue #539bf5;
@define-color brpurple #b083f0;
@define-color brpink #da77f8;

@define-color arch_blue #89b4fa;

@define-color workspace_background	@background;
@define-color workspace_button	@foreground;
@define-color workspace_active	@black;
@define-color workspace_active_background	@green;
@define-color workspace_urgent	@white;
@define-color workspace_urgent_background	@brred;
@define-color workspace_hover	@black;
@define-color workspace_hover_background	@pink;
@define-color critical	@red;
@define-color warning	@yellow;


@keyframes blink {
    to {
        background-color: @white;
        color: @black;
    }
}

* {
    border: none;
    /* border-radius: 0; */
    font-family: "monospace";
    font-weight: bold;
    font-size: 12px;
    min-height: 0;
}

window#waybar {
    background: @background;
	  color: @foreground;
}

#workspaces {
    background: @workspace_background;
    opacity: 1;
    transition: none;
    padding: 5px 5px;

    /* border-radius: 5px; */
}

#workspaces button, #workspaces button.persistent {
    background: transparent;
    color: @workspace_button;
    transition: none;
}

#workspaces button.active {
    background: @workspace_active_background;
    color: @workspace_active;
    /* border-radius: 5px; */
/*
    border-top: 2px solid @pink;
    border-bottom: 2px solid @pink;
*/
}

#workspaces button.urgent {
    background: @workspace_urgent_background;
    color: @workspace_urgent;
    /* border-radius: 5px; */
}

#workspaces button:hover {
    background: @workspace_hover_background;
    color: @workspace_hover;
    /* border-radius: 5px; */
}

#taskbar {
    background: @background;
    /* border-radius: 5px; */
    margin: 5px 10px 5px 50px;
}

tooltip {
    background: @background;
    opacity: 1;
    /* border-radius: 10px; */
    border-width: 2px;
    border-style: solid;
    border-color: @purple;
}

tooltip label{
    color: @grey;
}

#custom-rofi,
#custom-lock_screen,
#custom-power,
#custom-weather,
#custom-khorshididate,
#cpu,
#disk,
#custom-updates,
#memory,
#clock,
#battery,
#pulseaudio,
#network,
#tray,
#temperature,
#backlight,
#language {
    background: @background;
    opacity: 1;
    padding: 0px 5px;
    margin: 2px 0px 2px 0px;
}

#disk.critical,
#temperature.critical  {
    background-color: @critical;
}

#disk.warning,
#temperature.warning {
    background-color: @warning;
}

#battery {
    color: @green;
    /* border-radius: 5px 0px 0px 5px; */
}

#battery.discharging {
    color: @foreground;
}

#battery.warning:not(.charging) {
    background: @warning;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.critical:not(.charging) {
    background-color: @critical;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#custom-rofi {
    color: @arch_blue;
    /* border-radius: 5px 0px 0px 5px; */
}

#custom-power {
    color: @red;
    /* border-radius: 0px 5px 5px 0px; */
}

#clock {
    /* border-radius: 0px 5px 5px 0px; */
}

#tray {
    background: @background;
    /* border-radius: 5px; */
    margin: 5px 50px 5px 10px;
}

#pulseaudio {
}
