accordion-padding = 0
start-at-login = true
enable-normalization-flatten-containers = true
enable-normalization-opposite-orientation-for-nested-containers = true
on-focused-monitor-changed = ['move-mouse monitor-lazy-center']
on-focus-changed = ['move-mouse window-lazy-center']

[mode.main.binding]
    # General
    cmd-alt-ctrl-b = 'balance-sizes'
    cmd-alt-ctrl-c = 'reload-config'
    cmd-alt-ctrl-comma = 'layout accordion horizontal vertical'
    cmd-alt-ctrl-m = 'fullscreen'
    cmd-alt-ctrl-s = 'exec-and-forget open -a "Screenshot"'
    cmd-alt-ctrl-semicolon = 'layout tiles horizontal vertical'
    cmd-alt-ctrl-tab = 'focus-back-and-forth'
    cmd-alt-ctrl-x = 'close-all-windows-but-current --quit-if-last-window'

    # Window focus
    cmd-alt-ctrl-h = 'focus left'
    cmd-alt-ctrl-j = 'focus down'
    cmd-alt-ctrl-k = 'focus up'
    cmd-alt-ctrl-l = 'focus right'

    # Window move
    cmd-alt-ctrl-shift-h = 'move left'
    cmd-alt-ctrl-shift-j = 'move up'
    cmd-alt-ctrl-shift-k = 'move right'
    cmd-alt-ctrl-shift-l = 'move down'

    # Workspace focus
    cmd-alt-ctrl-q = 'workspace 1'
    cmd-alt-ctrl-w = 'workspace 2'
    cmd-alt-ctrl-e = 'workspace 3'
    cmd-alt-ctrl-r = 'workspace 4'
    cmd-alt-ctrl-t = 'workspace 5'
    cmd-alt-ctrl-y = 'workspace 6'
    cmd-alt-ctrl-u = 'workspace 7'
    cmd-alt-ctrl-i = 'workspace 8'
    cmd-alt-ctrl-o = 'workspace 9'
    cmd-alt-ctrl-p = 'workspace 10'

    # Workspace move
    cmd-alt-ctrl-shift-q = 'move-node-to-workspace 1 --focus-follows-window'
    cmd-alt-ctrl-shift-w = 'move-node-to-workspace 2 --focus-follows-window'
    cmd-alt-ctrl-shift-e = 'move-node-to-workspace 3 --focus-follows-window'
    cmd-alt-ctrl-shift-r = 'move-node-to-workspace 4 --focus-follows-window'
    cmd-alt-ctrl-shift-t = 'move-node-to-workspace 5 --focus-follows-window'
    cmd-alt-ctrl-shift-y = 'move-node-to-workspace 6 --focus-follows-window'
    cmd-alt-ctrl-shift-u = 'move-node-to-workspace 7 --focus-follows-window'
    cmd-alt-ctrl-shift-i = 'move-node-to-workspace 8 --focus-follows-window'
    cmd-alt-ctrl-shift-o = 'move-node-to-workspace 9 --focus-follows-window'
    cmd-alt-ctrl-shift-p = 'move-node-to-workspace 10 --focus-follows-window'

    # Modal 
    cmd-alt-ctrl-a = 'mode apps'
    cmd-alt-ctrl-f = 'mode raycast'
    cmd-alt-ctrl-z = 'mode resize'
    cmd-alt-ctrl-d = 'mode display'

[gaps]
    inner.horizontal = 5
    inner.vertical   = 5
    outer.left       = 5
    outer.bottom     = 5
    outer.top        = 5
    outer.right      = 5

[mode.display.binding]
    # Focus monitors
    h = ["focus-monitor left", "mode main"]
    j = ["focus-monitor down", "mode main"]
    k = ["focus-monitor up", "mode main"]
    l = ["focus-monitor right", "mode main"]

    # Move window between monitors
    shift-h = ["move-node-to-monitor left --focus-follows-window", "mode main"]
    shift-j = ["move-node-to-monitor down --focus-follows-window", "mode main"]
    shift-k = ["move-node-to-monitor up --focus-follows-window", "mode main"]
    shift-l = ["move-node-to-monitor right --focus-follows-window", "mode main"]

    # Exit mode
    esc = "mode main"
    enter = "mode main"

# Resize mode
[mode.resize.binding]
    h = 'resize width -50'
    j = 'resize height +50'
    k = 'resize height -50'
    l = 'resize width +50'
    enter = 'mode main'
    esc = 'mode main'

# Apps mode 
[mode.apps.binding]
    b = ['exec-and-forget open -a "Chromium"', 'mode main']
    shift-b = ['exec-and-forget open -na "Chromium"', 'mode main']
    t = ['exec-and-forget open -a "kitty"', 'mode main']
    s = ['exec-and-forget open -a "System Settings"', 'mode main']

    esc = 'mode main'
    enter = 'mode main'

# Raycast mode
[mode.raycast.binding]
    c = ['exec-and-forget open "raycast://extensions/raycast/clipboard-history/clipboard-history"', 'mode main']
    l = ['exec-and-forget open "raycast://extensions/raycast/system/sleep"', 'mode main']
    k = ['exec-and-forget open "raycast://extensions/rolandleth/kill-process/index"', 'mode main']
    p = ['exec-and-forget open "raycast://extensions/raycast/screenshots/search-screenshots"', 'mode main']
    f = ['exec-and-forget open "raycast://extensions/raycast/file-search/search-files"', 'mode main']
    r = ['exec-and-forget open "raycast://extensions/raycast/system/restart"', 'mode main']
    o = ['exec-and-forget open "raycast://extensions/raycast/system/shut-down"', 'mode main']
    v = ['exec-and-forget open "raycast://extensions/raycast/screenshots/paste-recent-screenshot"', 'mode main']
    n = ['exec-and-forget open "raycast://extensions/raycast/navigation/search-menu-items"', 'mode main']

    esc = 'mode main'
    enter = 'mode main'

# Automatic window routing
[[on-window-detected]]
    if.app-id = 'net.kovidgoyal.kitty'
    run = 'move-node-to-workspace 1'

[[on-window-detected]]
    if.app-id = 'com.apple.dt.Xcode'
    run = 'move-node-to-workspace 1'

[[on-window-detected]]
    if.app-id = 'ru.keepcoder.Telegram'
    run = 'move-node-to-workspace 3'

[[on-window-detected]]
    if.app-id = 'com.microsoft.teams2'
    run = 'move-node-to-workspace 3'

[[on-window-detected]]
    if.app-id = 'com.hnc.Discord'
    run = 'move-node-to-workspace 3'

[[on-window-detected]]
    if.app-id = 'com.apple.FaceTime'
    run = 'move-node-to-workspace 3'

[[on-window-detected]]
    if.app-id = 'com.apple.mail'
    run = 'move-node-to-workspace 4'

[[on-window-detected]]
    if.app-id = 'com.apple.iCal'
    run = 'move-node-to-workspace 4'

[[on-window-detected]]
    if.app-id = 'io.freetubeapp.freetube'
    run = 'move-node-to-workspace 5'

[[on-window-detected]]
    if.app-id = 'com.docker.docker'
    run = 'move-node-to-workspace 6'

[[on-window-detected]]
    if.app-id = 'com.apple.Maps'
    run = 'move-node-to-workspace 8'

[[on-window-detected]]
    if.app-id = 'com.valvesoftware.steam'
    run = 'move-node-to-workspace 9'

[[on-window-detected]]
    if.app-id = 'com.roblox.RobloxPlayer'
    run = 'move-node-to-workspace 9'

[[on-window-detected]]
    if.app-id = 'com.apple.systempreferences'
    run = 'move-node-to-workspace 10'
